.container {
  width: 1000px;
  margin-left: 700px;

}

body {
   background: url("http://www.my-hd-wallpapers.fr/wall/1409738211_eiffel-tower-at-sunrise_800.jpg") no-repeat center fixed #000; // l'image doit être assez grande à l'origine quand même !
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}

header {
  padding-top: 50px;
  padding-right: 50px;  
}

header img {
   padding: 1em;
   width: 200px;
  height: 100px;
 
   
    
   background: rgba(54, 25, 25, .01);
}

section {
  margin-top: 1em;
  font-size: 20px;
  padding: 100px;
  background: rgba(54, 25, 25, .01);

}

section h1 {
  color: #8e2a00;
  font-weight: bold;
  font-size: 30px; 
  padding: 30px;
  margin-left: -95px;
}

/* Liens */

a {
  color: #8e2a00;
  text-decoration: none;
  font-size: 20px; 
}

a:hover {
  color: #8e2a00;
  text-decoration: underline;

}

a:visited {
  color: #8e2a00;
}
Vous pouvez voir le résultat de ce code CSS dans l'illustration 5.4. Il y a beaucoup de CSS ici, mais il a une forme consistante. Chaque règle se réfère à une class, un id ou une balise HTML, ou une combinaison des trois, suivi par une liste des commandes de style. Par exemple :

body {
  background: #cff;
}
… change la couleur de fond de la balise body en « baby blue », tandis que :

header img {
  float: left;
  padding: 1em;
  background: #fff;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background: rgba(54, 25, 25, .01);
  padding: 1em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #070600;
  font-size: 40px;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Bouton inscription */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color:#8e2a00;
  background: rgba(54, 25, 25, .15);
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}





/* Coins arrondis */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}


footer {
  font-size: 20px; 
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
  padding: 5em;
}

footer nav {
  float: none;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

div.field {
  margin-bottom: 10px;

}

div.actions{

}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}
#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}
