<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "logo.jpeg" %>
	</div>

	<div id="content">
		<h1>Salut les amis, je suis ARAR Haouas </h1>
		<p>Voici un mini blog sympa.</p>
		<p></p>
		<p>Suis moi sur Github pour voir mes autres applications en <a href="https://github.com/harar42/Rails_Applications.git">Rails</a>. Tu peux aussi me suivre sur <a href="https://fr.linkedin.com/in/haouas-arar-08a445a6">Linkedin</a> pour voir mon évolution de carrière.</p>
	</div>
</div>